body {
    margin: 0;
    background: black;
}

svg {
    width: 100vw;
    height: 100vh;
    background: black;
}

#circle1 {
    fill: blue;
    stroke-width: 4;
    cx: 50%;
    cy: 50%;
    r: 20%;
}

#circle2 {
    fill: rgb(255, 0, 144);
    stroke-width: 4;
    cx: 50%;
    cy: 50%;
    r: 10%;
}

#ellipse1 {
    fill: #fdefda;
    cx: 50%;
    cy: 50%;
    rx: 20%;
    ry: 5%;
}